@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="card col-4">

        <img src="~/img/aa.jpg" class="card card-img"/>
        <p class="card-body">Name : Dutch Milk<br>
        Price:30$
        
        </p>
        
        <input type="submit" name="" value="Buy" class="btn btn-secondary"d />
    </div>

</div>
